<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery Page</title>
    
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="icon" href="{% static 'assets/gallery.png' %}">
</head>
<body>

<h1>Available Products!!</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad deleniti eaque harum illo illum incidunt, ipsum iste iusto libero nostrum nulla obcaecati repellat rerum suscipit unde vel velit voluptas!</span><span>Aspernatur doloremque id iste libero officiis quas recusandae, voluptate. Aspernatur atque cupiditate dolore dolorem dolorum illum libero natus quasi temporibus totam. Beatae maiores minima molestiae molestias non quam sunt velit?</span><span>Aperiam assumenda debitis dolor, doloribus dolorum est excepturi facilis harum hic inventore ipsa ipsum magni minus molestiae odit optio quia quidem, quis, similique sint sunt tempora temporibus ullam vero voluptatibus!</span></p>

<img src="{% static 'assets/audi.jpeg'  %}" alt="">
<img src="{% static 'assets/landrover.jpeg'  %}" alt="">
<img src="{% static 'assets/Range 1.jpeg'  %}" alt="">
<img src="{% static 'assets/beamer.jpeg'  %}" alt="">

</body>
</html>