<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home-Page</title>
</head>
<body>

<h1>Welcome to JijiCart!!</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur dolore eveniet fugiat iusto libero obcaecati quo? Aliquam assumenda error, eveniet fugit ipsum molestias numquam placeat repudiandae sequi voluptates voluptatum?</span><span>Alias blanditiis consequatur culpa cum cumque dolore dolores illum incidunt, ipsa maxime nam nostrum omnis possimus quaerat, quas reprehenderit repudiandae rerum sunt temporibus vel. Assumenda eius est magnam recusandae sunt.</span><span>Accusamus aliquid aperiam autem debitis deserunt dignissimos dolorem dolores earum eveniet illum ipsum, numquam porro repellendus sed voluptate? Commodi culpa cumque dolore esse iste, nemo neque obcaecati sequi ut vitae.</span></p>
<button>Shop Now!!</button>


</body>
</html>