<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</head>
<body>
    
    <h1 class="text-center text-danger">Our Services</h1>

    <a href="{% url 'index' %}" class="btn btn-danger">Home</a>
    <a href="{% url 'gallery' %}" class="btn btn-danger">Products</a>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, eaque architecto! Molestiae optio saepe, animi voluptas ex odit nesciunt tenetur debitis temporibus veniam placeat sapiente hic pariatur autem libero numquam!
    Hic sed magnam provident eum nihil vero saepe debitis sint! Repellendus at dicta et itaque cupiditate amet labore placeat. Saepe beatae nostrum incidunt autem tempore nesciunt. Distinctio, minima. Esse, deserunt.
    Rerum perspiciatis laboriosam vel quas tempore quaerat doloribus molestiae suscipit quis corrupti cupiditate accusantium, modi iste praesentium enim, minima ab. Illo amet nostrum magni quasi rem repellendus dolorum expedita cupiditate?</p>

    <br>

    <button class="btn btn-outline-danger">Get Started</button>

</body>
</html>